div{
    background-color: rgb(241, 165, 180);
    width: 55%;
    height: 55vh;
    text-align: center;
    margin: 100px;
    margin-left: 25%;
    border-radius: 10px;
}
#num1 {
    width: 200px;
 height: 20px;
 border-radius: 5px;
 margin-bottom: 10px;
}
#num2{
    width: 200px;
 height: 20px;
 border-radius: 5px;
 margin-bottom: 10px;
}
#num3{
    width: 200px;
 height: 20px;
 border-radius: 5px;
}
  .bt{
      width: 25%;
      height: 5vh;
      border-radius: 5px;
      margin-top: 20px;
    color:rgb(144, 0, 103);
    border-color: rgb(149, 0, 102);
  }
  h1{
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(121, 0, 71);
  }